
.vs/DiscordBot/v16/.suo

.vs/ProjectSettings.json

.vs/slnx.sqlite

.vs/DiscordBot/config/applicationhost.config

.vs/VSWorkspaceState.json

.vs/config/applicationhost.config

.vs/PokeBot-Generations/v15/.suo

.vs/PokeBot-Generations/v16/.suo

config.js
